
@font-face {
    font-family: 'Noto Sans Mono';
    src: url('fonts/NotoSansMono.ttf');
}

@font-face {
    font-family: 'Rubik';
    src: url('fonts/Rubik.ttf');
}

:root {
    --editor-background: black;
    --select-background: black;
    --editor-text: white;
    --info-text: #a1a1a1;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background: var(--editor-background);
    color: var(--info-text);
    font-family: "Rubik";
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}
.horizcontainer {
    flex-direction: row;
}
.vertcontainer {
    flex-direction: column;
}

.panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.horizcontainer > .panel {
    min-width: 7.5rem;
    height: 100%;
}
.vertcontainer > .panel {
    width: 100%;
    min-height: 7.5rem;
}
body > .panel {
    width: 100%;
    height: 100%;
}

.panel-drop-preview {
    pointer-events: none;
    position: absolute;
    background: var(--select-background);
    opacity: 0.5;
}
.panel-drop-preview.preview-full {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}
.panel-drop-preview.preview-left {
    left: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}
.panel-drop-preview.preview-right {
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
}
.panel-drop-preview.preview-top {
    left: 0px;
    top: 0px;
    width: 100%;
    height: 50%;
}
.panel-drop-preview.preview-bottom {
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 50%;
}

.panel-header-bar {
    user-select: none;
    cursor: grab;
    position: relative;
    width: 100%;
    height: 1.5rem;
    min-height: 3rem;
    flex-shrink: 0;
}

.panel-header-title {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translate(0%, -50%);
    font-size: 0.75em;
}

.panel-header-close {
    position: absolute;
    right: 1.0rem;
    top: 50%;
    height: 1rem;
    transform: translate(0%, -50%);
    cursor: pointer;
}
.panel-header-close:hover {
    background: var(--select-background);
}

.panel-content {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.divider {
    position: relative;
    user-select: none;
}
.horizdivider {
    width: 10px;
    height: 100%;
    cursor: col-resize;
}
.horizdivider::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0px;
    width: 1px;
    height: 100%;
    background: var(--select-background);
    transform: translateX(-50%);
}
.horizdivider:hover::after {
    background: var(--info-text);
}
.vertdivider {
    width: 100%;
    height: 10px;
    cursor: row-resize;
}
.vertdivider::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 50%;
    width: 100%;
    height: 1px;
    background: var(--select-background);
    transform: translateY(-50%);
}
.vertdivider:hover::after {
    background: var(--info-text);
}


.filetree-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
}

.filetree-file-list {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-bottom: 20rem;
    box-sizing: border-box;
    overflow: auto;
}

.filetree-file-container {
    position: relative;
    width: 100%;
    user-select: none;
}
.filetree-file-container:hover {
    background: var(--select-background);
}
.filetree-file {
    cursor: grab;
}
.filetree-folder {
    cursor: pointer;
}
.filetree-item-container {
    margin-left: calc(var(--indent) * 1rem);
    display: flex;
    flex-direction: row;
}
.filetree-item-icon {
    display: inline-block;
    height: 1.3rem;
    aspect-ratio: 1;
}
.filetree-name-container {
    position: relative;
    flex-grow: 1;
}
.filetree-name {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.filetree-footer {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    user-select: none;
    background: var(--editor-background);
}
.filetree-config {
    font-size: 1rem;
    cursor: grab;
}
.filetree-exit {
    margin-top: 1rem;
    font-size: 1rem;
}
.filetree-exit:hover {
    background: var(--select-background);
}


.project-selector-container {
    padding: 2rem;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.project-selector-prompt {
    font-size: 1.25rem;
    font-weight: bold;
}

.project-selector-container > input {
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: 1px solid var(--select-background);
    border: none;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.project-selector-container > input:focus {
    color: var(--editor-text);
    outline: 1px solid var(--info-text);
}

.project-selector-container > button {
    margin-left: 1rem;
    background: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: 1px solid var(--select-background);
    border: none;
    box-sizing: border-box;
    padding: 0.5rem;
    border-radius: 0.25rem;
}
.project-selector-container > button:hover {
    color: var(--editor-background);
    background-color: var(--editor-text);
    outline: 1px solid var(--editor-text);
}